<div class = "row" >
  <%= link_to "Log Out of Admin", destroy_admin_session_path, method: 'delete' if current_admin %>
</div>

<div class = "row" >
  <%= link_to "Add new users", new_user_path if current_admin %>
</div>

<div class = "row" >
  <table class= "admintable">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Instagram</th>
      <th>Snapchat</th>
      <th>Delete user</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <th><a href="<%= show_text_conversations_admin_path(user) %>"><%= user.name %></a></th>
      <th><%= user.phone_number %></th>
      <th><%= user.instagram_handler %></th>
      <th><%= user.snapchat_handler %></th>
      <th><%= button_to "delete user", user_path(user), method: :delete %></th>
      <th><%= button_to "add pictures to user", new_picture_path(user), method: :get %></th>
    </tr>
  <% end %>
  </table>
</div>
