<div class="row">
  <div class="col-md-14 col-xs-14 col-sm-14">
    <a href= "<%=gallery_path %>" >
        <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Experience_header.jpg", class: "img-responsive col-sm-offset-1 col-lg-4 col-lg-offset-4") %>
  </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
    <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Text.jpg", class: "img-responsive experience col-lg-2 col-lg-offset-5") %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
    <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/abc.jpg", class: "img-responsive experience col-md-offset-1 col-lg-2 col-lg-offset-5") %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
    <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/sharing.jpg", class: "img-responsive experience col-md-offset-1 col-lg-2 col-lg-offset-5") %>
  </div>
</div>
