<div class="row landing_page">
  <div class="col-md-14 center-block col-xs-14 col-sm-14 col-lg-9">
    <%= image_tag("http://d43k5pvni690z.cloudfront.net/gallery_text_01.png", class: "img-responsive gallery_text col-md-offset-1 col-lg-offset-") %>
  </div>
</div>

<!-- <div class="row landing_page">
  <div class="col-md-14 center-block col-xs-14 col-sm-14 col-lg-9">
    <%= image_tag("gallery_all.png", class: "img-responsive gallery_01 col-md-offset-1 col-lg-offset-") %>
  </div>
</div> -->


<div class="row landing_page">
  <div class="col-md-14 center-block col-xs-14 col-sm-14 col-lg-9">
    <table class="col-lg-offset-2">
      <tr>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_01.jpg", class: "img-responsive new1 gallery_change gallery_01", id: "new1")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Tory_01.jpg", class: "img-responsive new2 gallery_change gallery_01", id: "new2")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Nazli_03.jpg", class: "img-responsive new3 gallery_change gallery_01", id: "new3")%></th>
      </tr>
      <tr>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Laura_01.jpg", class: "img-responsive new4 gallery_change gallery_01", id: "new4", id: "new4")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Chinae_01.jpg", class: "img-responsive new5 gallery_change gallery_01", id: "new5")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Kali_01.jpg", class: "img-responsive new6 gallery_change gallery_01", id: "new6")%></th>
      </tr>
      <tr>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Erin_01.jpg", class: "img-responsive new7 gallery_change gallery_01", id: "new7")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Anya_01.png", class: "img-responsive new8 gallery_change gallery_01", id: "new8")%></th>
        <th class = "gallery_th" ><%= image_tag("http://d1wa66qgcl7v1x.cloudfront.net/Ecem_01.jpg", class: "img-responsive new9 gallery_change gallery_01", id: "new9")%></th>
      </tr>
    </table>
  </div>
</div>
