<div class="google_survey">
  <%= content_tag(:h1, "Welcome", class: "white_color h1") %>
  <%= content_tag(:p, "Please fill out the below form to get in line for SelfMade. We can't wait to see you shine.", class: "white_color font_size") %>

  <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label white_color">First Name <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :first_name, placeholder: 'First Name', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label white_color">Last Name <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 control-label white_color">Email <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :email, placeholder: 'Email', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="instagram_handler" class="col-sm-2 control-label white_color">Instagram Handle <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :instagram_handler, placeholder: 'Instagram Handle', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="snapchat_handler" class="col-sm-2 control-label white_color">Snapchat <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :snapchat_handler, placeholder: 'Snapchat', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="age" class="col-sm-2 control-label white_color">Age <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :age, placeholder: 'Age', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="location" class="col-sm-2 control-label white_color">Location <span style="color:red;">*</span></label>
    <div class="col-sm-10">
      <%= f.text_field :location, placeholder: 'Location', class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <label for="location" class="col-sm-2 control-label white_color">Which (if any) editing apps do you use? <span style="color:red;">*</span></label>
    <%= f.check_box :used_editing_apps, { :multiple => true }, 'FaceTune', nil %> <label class = "white_color">FaceTune</label>
    <%= f.check_box :used_editing_apps, { :multiple => true }, 'Perfect365', nil %> <label class = "white_color">Perfect365</label>
  </div>


  </div>
  <%= f.submit %>

  <% end %>
</div>
