<div class="row">
  <div class="col-md-13 center-block col-xs-14 col-sm-14">
    <a href="<%=experience_path%>" rel="external">
        <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Experience_01.jpg", class: "img-responsive landing_2 col-sm-offset-2 col-lg-4 col-lg-offset-4") %>
      </a>
  </div>
</div>

  <div class="row">
    <div class="col-md-13 center-block col-xs-14 col-sm-14">
      <a href= "<%=gallery_path %>" rel="external">
          <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Gallery_01.jpg", class: "img-responsive landing_2 col-sm-offset-2 col-lg-4 col-lg-offset-4") %>
    </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-13 center-block col-xs-14 col-sm-14">
      <a href="<%=about_path %>" rel="external">
          <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Contact_01.jpg", class: "img-responsive landing_2 col-sm-offset-2 col-lg-4 col-lg-offset-4") %>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-13 center-block col-xs-14 col-sm-14">
      <a href="<%=join_path%>" rel="external">
          <%= image_tag("http://d43k5pvni690z.cloudfront.net/new_design/Join_01.jpg", class: "img-responsive landing_2 col-xs-offset-1 col-sm-offset-2 col-md-offset-1 col-lg-4 col-lg-offset-4") %>
      </a>
    </div>
  </div>
