<div class="row landing_page">
  <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
    <a href="<%=experience_path%>">
        <%= image_tag("Experience_01.png", class: "img-responsive landing_2 col-md-offset-1 col-lg-offset-1") %>
      </a>
  </div>
</div>

  <div class="row landing_page">
    <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
      <a href= "<%=gallery_path %>" >
          <%= image_tag("Gallery_01.png", class: "img-responsive landing_2 col-md-offset-1 col-lg-offset-1") %>
    </a>
    </div>
  </div>

  <div class="row landing_page">
    <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
      <a href="<%=about_path %>">
          <%= image_tag("About_01.png", class: "img-responsive landing_2 col-md-offset-1 col-lg-offset-1") %>
        </div>
      </a>
    </div>
  </div>

  <div class="row landing_page">
    <div class="col-md-13 center-block col-xs-14 col-sm-14 col-lg-9">
      <a href="<%=join_path%>">
          <%= image_tag("Join_01.png", class: "img-responsive landing_2 col-md-offset-1 col-lg-offset-1") %>
      </a>
    </div>
  </div>
